header {

    background-color: #26c1ff; 
    background-image: url('back.jpeg'); 
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: contain; 
    width: 100%;
    min-height: 400px; 
    height: 50vw;     
    max-height: 550px; 

  
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: -9999px; 
}

    margin: 0;
    padding: 0;
}


nav {
    margin-top: 0;
    position: relative;
    z-index: 10;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #2c3e50;
}

м

/* Блоки для програм (5 сторінка) */
.software-block {
    border-left: 5px solid #4A90E2;
    background: #ebf3fb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0 8px 8px 0;
}

.software-block h3 {
    margin-top: 0;
    color: #4A90E2;
}

.btn-link {
    display: inline-block;
    padding: 8px 15px;
    background: #4A90E2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}
